@font-face {
    font-family:bariol;
    src: url(font/bariol.ttf);
}
@font-face {
    font-family:bariolp;
    src: url(font/bariolbold.ttf);
}
@font-face {
    font-family: coop;
    src: url(font/cooperm.ttf);
}

*{
    padding: 0%;
    margin: 0;
}

body{
    background: linear-gradient(white,#b34ef6);
    min-height: 100vh;
}
/* header */
h1{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-family:bariol;
    clear: both;  
}

h1 a{
    text-decoration: none;
}
h1 a:visited{
    color: black;
}

h1 a:hover{
    color: #b34ef6;
    letter-spacing: 0.1rem;
}


nav{
    float: right;
    margin-top: 10px;

}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-family: bariolp;


}
nav  ul li a{
    text-decoration: none;
}
nav ul li a:visited{
    color: black;
}

nav ul li a:hover{
    color: #b34ef6;
}

/* main */ 
h3{
    clear: both;
    margin-left: 10px;
    padding-top: 120px;
    font-size: 50PX;
    font-family: coop;
   
}
/* svg */
svg{
    height: 90%;
    width: 90%;
}
.img{
    margin-left: 400px;
    margin-top: -280px;

}
#skate{
    animation-name: enf;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes skate{
    from{
        transform: rotateY(0deg);
    }
    to{
    transform: rotateY(25ddeg);
    }
}


